table, table a:link, table a:hover, table a:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;	
	color: #000066;
	border: 0;
	margin: 0px;
	padding: 0px;
	background-position: center;
        text-decoration: none;
}

table.Contenido, table.Contenido a:hover, table.Contenido a:link, table.Contenido a:visited {
	font-family: "Courier New", Courier, mono;
	font-size: 11px;
	text-transform: uppercase;
	text-decoration: none;        
}

td.NoSelectedOff {     
    background-color: #BEC8D1;
    text-align: center;   
    font-weight: bold;    
    color: #404040;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

td.NoSelectedOn {     
    background-color: #BEC8D1;    
    text-align: center;       
    font-weight: bold;        
    color: #404040;  
    border-style: solid;
    border-width: 2px;
    border-color: black;      
}

td.Selected { 
    background-color: #7796B2;
    text-align: center;    
    font-weight: normal;    
    color: #FFFFFF;  
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-bottom: 3px solid #000000;   
} 

td.Titulo {
	background-color: #7796B2;
	color: #FFFFFF;
	font-weight: bold;
	vertical-align: middle;
	text-transform: uppercase;
	background-position: center;
	font-size: 11px;        
}

td.ConBorder {	
        border-style: solid;
        border-width: 1px;
        border-color: black;        
}

a.NewItem:visited {
        font-size: 12px;
        color: #000000;
        text-decoration: underline;
}

a.NewItem:active {
        font-size :12px;
        color: #000000;
        text-decoration: underline;
}

a.NewItem:link {
        font-size: 12px;
        color: #000000;
        text-decoration: underline;
}

a.NewItem:hover {
        font-size: 12px;
        color: #ffff33;
        text-decoration: underline;
}

div.ScrollStyle{
	OVERFLOW: auto; 
	WIDTH: 751px; 
	HEIGHT: 200px; 
	color: #000066;
}
div.ScrollStyle1{
	OVERFLOW: auto; 
	WIDTH: 870px; 
	HEIGHT: 200px; 
	color: #000066;
}
div.ScrollStyle2{
	OVERFLOW: auto; 
	WIDTH: 661px; 
	HEIGHT: 200px; 
	color: #000066;
}

div.ScrollStyleSmall{
	OVERFLOW: auto; 
	WIDTH: 300px; 
	HEIGHT: 100px; 
	color: #000066;
}

td.ScrollStyle{
	SCROLLBAR-FACE-COLOR: #007CB9;
	SCROLLBAR-HIGHLIGHT-COLOR: #CCCCCC;
	SCROLLBAR-SHADOW-COLOR: #CCCCCC;
	SCROLLBAR-3DLIGHT-COLOR: #000000;
	SCROLLBAR-ARROW-COLOR: #000000;
	SCROLLBAR-TRACK-COLOR: #FEF4D6;
	SCROLLBAR-DARKSHADOW-COLOR: #000000;
	border: 1px solid #000000;
}

tr.FilaNull {
	background-color: #FFFFFF;
	height: 0px;	
}
tr.FilaResaltada {
	background-color: #FFFFCC;
	height: 19px;
}

tr.FilaNormal {
	background-color: #FFFFFF;
	height: 19px;
}

tr.FilaActivo {
	background-color: #FFFFCC;
	height: 19px;
}
tr.FilaTemporal {
	background-color: #00FF99;
	height: 19px;
}
tr.FilaDisable {
	background-color: #CCCCCC;
	height: 19px;
}
tr.FilaNuevo {
	background-color: #00CC99;
	height: 19px;
}
tr.FilaModificado {
	background-color: #FFCC99;
	height: 19px;
}
tr.FilaAnulado {
	background-color: #FF3300;
	height: 19px;
}
tr.CabeceraListado {
	background-color: #002868;
	color: #FFFFFF;
	font-weight: bold;
	text-transform: uppercase;        
}
tr.Paginador {
	background-color: #E3EEFF;
}

input.boxNumerada {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 9px;
	background-image: url(../Imagenes/btn17x17/pag_normal.gif);
	border: none;
	height: 17px;
	width: 17px;
	color: #000000;
}

input.txtTexto {
	border: 1px solid #000000;
}

input.boxNumeradaActiva {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 9px;
	background-image: url(../Imagenes/btn17x17/pag_activa.gif);
	border: none;
	height: 17px;
	width: 17px;
	color: #000000;
}

div.upload {
   position: relative;
   width: 80px;
   height: 24px;
   overflow: hidden;
   background: url(../Imagenes/btn-choose-file.gif) left top no-repeat;
   clip: rect(0px, 80px, 24px, 0px );
}

div.upload input {
   position: absolute;
   left: auto;
   right: 0px;
   top: 0px;
   margin: 0;
   padding: 0;
   filter: Alpha(Opacity=0);
   -moz-opacity: 0;
   opacity: 0;
}

option.red {
    background-color: #CC0000; 
    font-weight: bold; 
    font-size: 12px; 
    color: white;
}